#banner{
  flex: 4;
  width: 50%;
  background: #1A8FDD;
  float: right;
  margin-right: 0;
  height: 100vh;
  align-items: center;
  text-align: center;
}

#banner img{
  margin-top: 10%;
  width: 100%;
}

#banner h2{
  margin-top: 3%;
  color: #fff;
}