.button{
  height: 40px;
  width: 200px;
  border-radius: .3rem;
  background: #1A8FDD;
  color: #fff;
  font-size: 15pt;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #1A8FDD;
  transition: .2s;
}

.button:hover{
  background: #fff;
  color: #1A8FDD;
}
