#active-btn{
  height: 70px;
  width: 70px;
  border-radius: 10rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  background: #ff0000;
  border: 2px solid #ff0000;
  transition: .2s;
  position: fixed;
  bottom: 2%;
  right: 1%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#active-btn:hover{
  background: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
}

#icon{
  position: absolute;
  top: 27%;
  left: 27%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}