#active-btn{
  height: 60px;
  width: 160px;
  border-radius: 20px;
  font-size: 15pt;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  background: #ff0000;
  border: 2px solid #ff0000;
  transition: .2s;
  position: fixed;
  bottom: 10%;
  right: 5%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#active-btn:hover{
  background: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
}

#icon{
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 4px;
}