.button{
  height: 40px;
  width: 200px;
  border-radius: .3rem;
  background: #1A8FDD;
  color: #fff;
  font-size: 15pt;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #1A8FDD;
}

#btn-cancel{
  background-color: red;
  border-color: red;
}