#page-auth {
  display: flex;
  flex-direction: row;
}

main{
  flex: 3;
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 10% 0 0 5%;
  float: left;
  align-items: center;
}

#title-login{
  text-align: center;
  margin-bottom: 5%;
  padding: 5px;
}

h1{
  color: #1A8FDD;
  font-size: 48px;
}

main form{
  display: flex;
  flex-direction: column; 
  margin: 0 auto;
  align-items: center;
  width: 80%;
}

form input{
  margin-bottom: 4%;
  height: 50px;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  font-size: 13pt;
  outline: none;
  border: 2px solid #ccc;
}

main a{
  text-decoration: none;
}

form span{
  color: red;
  margin: -2% 0 2% 0;
}

@media screen and (max-width: 768px){
  aside{
    display: none;
  }
  main {
    float: none;
    margin: 0 auto;
    width: 80%;
  }

  main form{
    width: 100%;
    padding: 20px;
  }

  form input{
    width: 100%;
  }
}

