#profile-page{
  padding: 10px;
}

#profile-info{
  display: flex;
}

#profile-user{
  height: 80vh;
  width: 20%;
  padding: 5px;
  margin-top: 1%;
  border-right: 1px solid #808080;
  align-items: flex-start;
}

#profile-user p{
  margin-top: 5%;
}

table{
  width: 100%;
}

table th{
  background: #1A8FDD;
}

table, th, td {
  border: 1px solid #808080;
  border-collapse: collapse;
}

table th{
  font-size: 18px;
}

table td{
  height: 30px;
  padding: 3px;
}

table button {
  background: transparent;
  border: none;
  color: #1A8FDD;
  cursor: pointer;
}

#profile-events{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-events div{
  width: 100%;
}

#schedule-events{
  margin-top: 20%;
}